/* Fonts */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-light: #444444;
  --basic-red: #fb565a;
  --basic-red-hover: #e74246;
  --basic-red-active: #d7373b;
  --basic-green: #00ca74;
  --basic-yellow: #efc849;
  --basic-white: #ffffff;
  --basic-gray2: #dfdfdf;
  --basic-gray3: #d5d5d5;

  --btn-green: #00ca74;
  --btn-green-hover: #00bc6c;
  --btn-green-active: #00aa62;
  --btn-yellow: #efc849;
  --btn-yellow-hover: #eab534;
  --btn-yellow-active: #e5a722;

  --social-gray: #e1e1e1;

  --radio-check: #4d4d4d;
  --price-input: #283136;
  --range: #d7dcdf;
  --toggle: #ababab;
  --toggle-shadow: rgba(0, 0, 0, 0.15);
  --light-gray: rgba(255, 255, 255, 0.3);
  --background-gray: #eeeeee;
  --gray-active: rgba(0, 0, 0, 0.3);
  --gray-hover: rgba(0, 0, 0, 0.6);
  --btn-shadow: rgba(0, 1, 1, 0.1);
  --product-hover-shadow: rgba(0, 0, 0, 0.25);
  --feedback-container-shadow: rgba(0, 0, 0, 0.4);
  --border-gray-btn: #dbdbdb;
  --products-text: #666666;
  --border-input-hover: #b4b9bb;
}

/* Global */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
  box-sizing: border-box;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);

  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Buttons */

.button {
  display: inline-block;
  vertical-align: middle;
  color: var(--basic-white);
  line-height: 50px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--basic-red-hover);
}

.button:active {
  background-color: var(--basic-red-active);
  box-shadow: inset 0px 3px 0px var(--btn-shadow);
}

.button span:active {
  opacity: 30%;
}

/* Main header */

.main-header {
  background-color: var(--background-gray);
  padding: 49px 0 0 0;
}

/* Main navigation */

.main-navigation {
  display: grid;
  grid-template-columns: 160px 1fr -webkit-min-content;
  grid-template-columns: 160px 1fr min-content;
  -moz-column-gap: 45px;
  column-gap: 45px;
  align-items: end;
  line-height: 30px;
  color: var(--basic-black);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li {
  margin: 0 45px 0 0;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  color: var(--basic-black);
  cursor: pointer;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.3;
}

.navigation-link {
  display: block;
  color: var(--basic-black);
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 0 8px 0;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--basic-red-hover);
}

.navigation-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.navigation-link:not([href]) {
  color: var(--basic-black);
  border-bottom: 2px solid var(--basic-red);
}

.cart-link {
  position: relative;
  padding: 0 0 9px 40px;
}

.cart-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Main-slider */

.slider-background-1 {
  background: url("../img/slider/smartfons.png") right/760px 431px no-repeat;
}

.slider-background-2 {
  background: url("../img/slider/monitors.png") right/760px 431px no-repeat;
}

.slider-background-3 {
  background: url("../img/slider/pad&phone.png") right/760px 431px no-repeat;
}

.main-slider {
  position: relative;
  background-color: var(--background-gray);
  margin: 0 0 80px 0;
}

.slider-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 431px;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
  max-width: 515px;
}

.slider-title {
  color: var(--basic-black);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0 0 25px 0;
}

.slider-text {
  margin: 0 0 38px 0;
}

.slider-button {
  padding: 0 54px;
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: 50%;
  z-index: 20;
  display: flex;
  width: 88px;
  justify-content: space-between;
  margin: 0 0 0 -44px;
}

.slider-controls button {
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 4px;
  height: 4px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

/* Main */

/* Container */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Service */

.service {
  border-bottom: 2px solid var(--background-gray);
  padding: 0 0 80px 0;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  -moz-column-gap: 100px;
  column-gap: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-item {
  display: flex;
  flex-direction: column;
}

.service-item:nth-child(3n) {
  padding: 0;
}

.service-item img {
  order: 1;
  background-color: var(--products-text);
  margin: 0 0 25px 0;
  -o-object-fit: contain;
  object-fit: contain;
}

.service-item h3 {
  order: 2;
  color: var(--basic-black);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 16px 0;
}

.service-item p {
  order: 3;
  margin: 0 0 32px 0;
}

.service-button {
  padding: 0 40px;
}

.service-button-apps {
  background-color: var(--btn-green);
}

.service-button-presentation {
  background-color: var(--btn-yellow);
}

.service-button-apps:hover,
.service-button-apps:focus {
  background-color: var(--btn-green-hover);
}

.service-button-presentation:hover,
.service-button-presentation:focus   {
  background-color: var(--btn-yellow-hover);
}

.service-button-apps:active {
  background-color: var(--btn-green-active);
}

.service-button-presentation:active {
  background-color: var(--btn-yellow-active);
}

/* About */

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 40px;
  column-gap: 40px;
  border-bottom: 2px solid var(--background-gray);
  padding: 39px 0 58px 0;
}

.column-slogan {
  grid-column: 1 / 3;
  align-self: end;
}

.about-slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 36px 0 32px 0;
}

.about-slogan-text {
  margin: 0 0 40px 0;
  padding: 0;
}

.about h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0 0 23px 0;
}

.about-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-list-item {
  position: relative;
  margin: 0 0 24px 0;
  padding: 0 0 0 36px;
}

.about-list-item:last-child {
  margin: 0;
}

.about-list-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.column-statistics h3 {
  text-align: center;
  margin: 0 0 31px 0;
}

.column-statistics::before {
  content: "";
  display: block;
  background-image: url("../img/nerds-illustration.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 360px;
  height: 208px;
  margin: 0 0 36px 0;
}

.statistics-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
}

.statistics-list sup {
  font-size: 26px;
  line-height: 40px;
}

.statistics-list dt {
  grid-row: 1 / 2;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  margin: 0 0 10px 0;
}

.statistics-list dd {
  line-height: 18px;
  margin: 0;
}

/* Clients */

.clients {
  border-bottom: 2px solid var(--background-gray);
  padding: 44px 0;
  margin: 0 0 80px 0;
}

.clients-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.clients-item {
  position: relative;
}

.clients-item img {
  -o-object-fit: contain;
  object-fit: contain;
}

.clients-item a {
  opacity: 0.2;
}

.clients-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -44px;
  width: 2px;
  height: 52px;
  margin: -26px 0 0 0;
  background-color: var(--background-gray);
  opacity: 1;
}

.clients-item:last-child::after {
  display: none;
}

.clients-item a:hover,
.clients-item a:focus {
  opacity: 1;
}

.clients-item a:active {
  opacity: 0.1;
}

/* CATALOG */

.catalog-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  -moz-column-gap: 20px;
  column-gap: 20px;
  padding: 62px 0;
}

.catalog-headler {
  grid-column: 1 / -1;
  background-color: var(--background-gray);
  padding: 75px 0 106px 0;
}

.catalog-headler h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  margin: 0;
}

/* Filter-product */

.filter-product {
  grid-row: 2 / -2;
}

.filter-item {
  width: 260px;
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  margin: 49px 0 57px 0;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 41px;
  margin: 0 0 15px 0;
  padding: 39px 20px 0 20px;
  border-radius: 5px;
  background-color: var(--background-gray);
}

.range-controls .scale {
  height: 2px;
  background-color: var(--range);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--btn-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border-radius: 50%;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle);
  box-shadow: 0 2px 1px 0 var(--toggle-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin: 0 0 0 10px;
  text-align: center;
  color: var(--price-input);
  border: none;
  border-radius: 5px;
  background-color: var(--background-gray);
  font-family: inherit;
  font-size: inherit;
}

.filter-list {
  padding: 0;
  margin: 19px 0 49px 0;
  list-style: none;
  line-height: 20px;
}

.filter-option {
  margin: 0 0 20px 0;
  padding: 0 0 0 36px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -4px;
  width: 17px;
  height: 17px;
  border: 4px solid var(--radio-check);
  opacity: 0.4;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -28px;
  width: 9px;
  height: 9px;
  background-color: var(--radio-check);
  opacity: 0.4;
  border-radius: 50%;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -37px;
  top: -5px;
  width: 25px;
  height: 23px;
  opacity: 0.4;
  background-image: url("../img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  opacity: 0.4;
  background-image: url("../img/icons/checkbox-on.svg");
}

.filter-input-radio:hover + label::before,
.filter-input-radio:checked:hover + label::after,
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:checked:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-radio:checked:focus + label::after,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:checked:focus + label::before  {
  opacity: 1;
}

.form-button {
  color: var(--basic-black);
  background-color: var(--background-gray);
  border-radius: 3px;
  padding: 0 88px;
}

.form-button:hover,
.form-button:focus {
  background-color: var(--basic-gray2);
}

.form-button:active {
  background-color: var(--basic-gray3);
  box-shadow: inset 0px 3px 0px var(--btn-shadow);
}

/* Sort-products */

.sort-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 40px;
  column-gap: 40px;
  align-items: center;
  margin: 0 0 44px 0;
}

.sort-legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.sort-links {
  position: relative;
  display: flex;
}

.sort-type-list {
  display: flex;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 49px 0 0;
  padding: 0;
}

.sort-type-list li {
  margin: 0 25px 0 0;
}

.sort-type-list li:last-child {
  margin: 0;
}

.sort-link {
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-direction-list {
  display: flex;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

.arrows {
  display: inline-block;
  vertical-align: middle;
  color: var(--basic-black);
  opacity: 0.3;
  width: 11px;
  height: 10px;
  background: url("../img/icons/arrow.svg") no-repeat;
}

.arrow-up {
  margin: 0 18px 0 0;
}

.arrow-down {
  transform: rotate(180deg);
}

.sort-link:hover,
.arrows:hover,
.sort-link:focus,
.arrows:focus {
  opacity: 0.6;
}

.sort-link:active,
.sort-link:not([href]),
.arrows:active,
.arrows:not([href]) {
  opacity: 1;
}

/* Products */

.products-item {
  position: relative;
}

.products-item::before {
  content: "";
  display: block;
  background-image: url("../img/browser-decoration.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 40px;
  opacity: 0.12;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.products-item:hover::before,
.products-item:focus-within::before {
  opacity: 1;
}

.products-item:hover,
.products-item:focus-within {
  filter: drop-shadow(0px 6px 15px var(--product-hover-shadow));
}

.products-item p {
  line-height: 18px;
  margin: 0 auto 34px auto;
  max-width: 255px;
}

.products-description {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--background-gray);
  padding: 14px 0 44px 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 40px;
  column-gap: 40px;
  row-gap: 30px;
  text-align: center;
  list-style: none;
  line-height: 18px;
  margin: 0 0 50px 0;
  padding: 0;
}

.products-list li:hover .products-description,
.products-list li:focus-within .products-description {
  opacity: 1;
}

.products-link {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 54px;
  text-transform: uppercase;
}

.products-link:hover {
  color: var(--basic-red);
}

.products-link:active {
  opacity: 0.3;
}

.products-item img {
  width: 358px;
  height: 578px;-o-object-fit: contain;object-fit: contain;  background-color: var(--products-text);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.products-item-button {
  padding: 0 72px;
  opacity: 1;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  margin: 0 0 60px 0;
  padding: 0;
  margin: 0 11px 0 0;
}

.pagination-list li {
  padding: 0 11px 0 0;
}

.pagination-list li:last-child {
  padding: 0;
}

.pagination-link {
  display: block;
  background-color: var(--background-gray);
  color: var(--basic-black);
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
  width: 50px;
  height: 50px;
  border-radius: 3px;
}

.pagination-link.next {
  width: 260px;
}

.pagination-link:not([href]) {
  background: transparent;
  border: 3px solid var(--border-gray-btn);
  width: 44px;
  height: 44px;
  line-height: 47px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: var(--basic-gray2);
}

.pagination-link:active {
  background-color: var(--basic-gray3);
  box-shadow: inset 0px 3px 0px var(--btn-gray-shadow);
}

/* Main Footer */
/* Contacts */

iframe {
  width: 100%;
  height: 416px;
  border: none;
}

.contacts {
  position: relative;
  width: 100%;
  height: 416px;
  background-color: var(--background-gray);
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.location {
  background-color: var(--basic-white);
  width: 219px;
  min-height: 259px;
  padding: 44px 50px 0 50px;
  position: absolute;
  top: auto;
  top: 54px;
}

.contacts h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 22px 0;
}

.contacts-address {
  line-height: 18px;
  color: var(--products-text);
  margin: 0 0 15px 0;
}

.contacts-phone {
  margin: 0 0 35px 0;
}

.contacts-phone a {
  color: var(--products-text);
}

.contacts-button {
  padding: 0 44px;
}

/* footer-social */

.footer-social {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 0;
  padding: 68px 0;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  min-width: 261px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-item {
  margin: 0 9px 0 0;
}

.social-item:last-child {
  margin: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--background-gray);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red-hover);
}

.social-button:active {
  background-color: var(--basic-red-active);
}

.social-button img:active {
  opacity: 0.3;
}

.main-footer-slogan {
  max-width: 100%;
  color: var(--basic-black-light);
}

.main-footer-headler {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 10px 0;
}

.main-footer-text {
  margin: 0;
}

/* MODALS */
/* Feedback */

.modal-feedback {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 180px;
  width: 760px;
  height: 470px;
  margin: auto auto;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px var(--feedback-container-shadow);
  padding: 60px 100px;
  z-index: 50;
  display: none;
}

.modal-feedback-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-feedback-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.feedback-headler {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin: 0 0 37px 0;
}

.button-close-feedback {
  position: absolute;
  top: 75px;
  right: 90px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icons/close-cross.svg");
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  cursor: pointer;
  opacity: 0.3;
}

.button-close-feedback:hover,
.button-close-feedback:focus {
  opacity: 1;
}

.button-close-feedback:active {
  opacity: 0.1;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-form label {
  font-weight: 700;
  line-height: 18px;
  max-width: 360px;
}

.feedback-form input {
  display: block;
  width: 342px;
  font-family: inherit;
  font-size: inherit;
  line-height: 18px;
  color: var(--basic-black-light);
  opacity: 0.5;
  outline: 2px solid var(--range);
  border: none;
  border-radius: 3px;
  padding: 14px;
  margin: 10px 0 33px 0;
}

.feedback-form textarea {
  width: 740px;
  height: 88px;
  resize: none;
  margin: 0 0 47px 0;
  font-family: inherit;
  line-height: 18px;
  color: var(--basic-black-light);
  opacity: 0.5;
  outline: 2px solid var(--range);
  border: none;
  border-radius: 3px;
  padding: 15px;
  margin: 8px 0 48px 0;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  outline: 2px solid var(--border-input-hover);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  outline: 2px solid var(--basic-black);
}

.feedback-form input:invalid {
  outline: 2px solid var(--basic-red-hover);
  color: var(--basic-red-hover);
}

.feedback-button {
  padding: 0 83px;
  height: 50px;
}

/* Animations */

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
