/* Fonts */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-light: #444444;
  --basic-red: #fb565a;
  --basic-red-hover: #e74246;
  --basic-red-active: #d7373b;
  --basic-green: #00ca74;
  --basic-yellow: #efc849;
  --basic-white: #ffffff;
  --basic-gray2: #dfdfdf;
  --basic-gray3: #d5d5d5;

  --btn-green: #00ca74;
  --btn-green-hover: #00bc6c;
  --btn-green-active: #00aa62;
  --btn-yellow: #efc849;
  --btn-yellow-hover: #eab534;
  --btn-yellow-active: #e5a722;

  --social-gray: #e1e1e1;

  --light-gray: rgba(255, 255, 255, 0.3);
  --background-gray: #eeeeee;
  --gray-active: rgba(0, 0, 0, 0.3);
  --gray-hover: rgba(0, 0, 0, 0.6);
  --btn-gray-shadow: rgba(0, 1, 1, 0.1);
  --border-gray-btn: #dbdbdb;
  --products-text: #666666;
}

/* Global */

.sr-only {
  display: none;
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Buttons */

.button {
  display: inline-block;
  /* height: 50px; */
  color: var(--basic-white);
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: var(--basic-red-hover);
}

.button:active {
  background-color: var(--basic-red-active);
}

.button span:active {
  opacity: 30%;
}

/* Main header */

.main-header {
  background-color: var(--background-gray);
  padding: 49px 0 0 0;
}

/* Main navigation */

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
  color: var(--basic-black);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 -45px 0 0;
}

.site-navigation li {
  padding: 0 45px 0 0;
}

.site-navigation li:last-child {
  padding: 0;
}

.main-logo {
  width: 160px;
  height: 65px;
  color: var(--basic-black);
  cursor: pointer;
}

.main-header-logo {
  margin: 0 45px 0 0;
}

.main-header-logo:hover {
  opacity: 70%;
}

.main-header-logo:active {
  opacity: 0.3;
}

.navigation-link {
  color: var(--basic-black);
  font-weight: 500;
  text-transform: uppercase;
}

.navigation-link:hover {
  color: var(--basic-red-hover);
}

.navigation-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.navigation-link.active:not([href]) {
  color: var(--basic-black);
  border-bottom: 2px solid var(--basic-red);
}

.cart-link {
  padding: 0 0 0 25px;
}

/* Main-slider */

.main-slider {
  background-color: var(--background-gray);
  margin: 0 0 80px 0;
}

.slide {
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 2fr;
}

.slider-headler {
  color: var(--basic-black);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0 0 37px 0;
}

.slider-text {
  align-self: center;
}

.slider-button {
  /* padding: 0 54px; */
}

/* Main */

/* Container */

.container {
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Service */

.service {
  border-bottom: 2px solid var(--background-gray);
  padding: 0 0 80px 0;
  margin: 0 0 39px 0;
}

.service-list {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px; */
  display: flex;
  flex-wrap: wrap;
  margin: 0 -100px 0 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-item {
  padding: 0 100px 0 0;
  max-width: 300px;
}

.service-item:nth-child(3n) {
  padding: 0;
}

.service-item img {
  order: 1;
  background-color: var(--products-text);
  margin: 0 0 25px 0;
}

.service-item h3 {
  color: var(--basic-black);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 16px 0;
}

.service-item p {
  margin: 0 0 32px 0;
}

.service-button-apps {
  background-color: var(--btn-green);
}

.service-button-presentation {
  background-color: var(--btn-yellow);
}

.service-button-apps:hover {
  background-color: var(--btn-green-hover);
}

.service-button-presentation:hover {
  background-color: var(--btn-yellow-hover);
}

.service-button-apps:active {
  background-color: var(--btn-green-active);
}

.service-button-presentation:active {
  background-color: var(--btn-yellow-active);
}

/* About */

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  border-bottom: 2px solid var(--background-gray);
  padding: 0 0 73px 0;
}

.column-slogan {
  grid-column: 1 / 3;
}

.about-slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 34px 0 0 0;
}

.about-slogan-text {
  margin: 32px 0 40px 0;
  padding: 0;
}

.about h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0 0 23px 0;
}

.about-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-list-item {
  margin: 0 0 33px 0;
}

.column-statistics img {
  margin: 0 0 37px 0;
}

.column-statistics h3 {
  margin: 0 0 31px 0;
}

.statistics-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
}

.statistics-list dt {
  grid-row: 1 / 2;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  margin: 0 0 10px 0;
}

.statistics-list dd {
  line-height: 18px;
  margin: 0;
}

/* Clients */

.clients {
  border-bottom: 2px solid var(--background-gray);
  padding: 44px 0;
  margin: 0 0 80px 0;
}

.clients-list {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.clients-item {
  opacity: 0.2;
}

.clients-item:hover {
  opacity: 1;
}

.clients-item:active {
  opacity: 0.1;
}

/* CATALOG */

.catalog-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 40px;
}

.catalog-headler {
  grid-column: 1 / -1;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  background-color: var(--background-gray);
  margin: 0;
  padding: 72px 0 108px 0;
  margin: 0 0 62px 0;
}

/* Filter-product */

.filter-product {
  grid-row: 2 / -2;
}

.form-filter fieldset {
  border: none;
}

.form-filter legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.form-button {
  color: var(--basic-black);
  background-color: var(--background-gray);
  border-radius: 3px;
}

.form-button:hover {
  background-color: var(--basic-gray2);
}

.form-button:active {
  background-color: var(--basic-gray3);
  box-shadow: inset 0px 3px 0px var(--btn-gray-shadow);
}

/* Sort-products */

.sort-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 48px 0;
}

.sort-legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.sort-products-list {
  display: flex;
  list-style: none;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.sort-link {
  color: var(--basic-black);
  opacity: 0.3;
}
/* .sort-link.arrow {
  color: var(-);
} */

.sort-link:hover {
  opacity: 0.6;
}

.sort-link:active,
.sort-link.active {
  opacity: 1;
}

/* Products */

.products-item {
  background-color: var(--background-gray);
  margin: 0 0 30px 0;
}

.products-item p {
  line-height: 18px;
  margin: 0 0 32px 0;

}

.products-link {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.products-link h3 {
  margin: 0 0 12px 0;
}

.products-link:hover {
  color: var(--basic-red);
}

.products-link:active {
  opacity: 0.3;
}

.products-item img {
  background-color: var(--products-text);
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  text-align: center;
  list-style: none;
  line-height: 18px;
  margin: 0 0 24px 0;
  padding: 0;
}

.products-item-button {
  opacity: 1;
}

.pagination-list {
  display: flex;
  list-style: none;
  margin: 0 0 60px 0;
  padding: 0;
  margin: 0 11px 0 0;
}

.pagination-list li {
  padding: 0 11px 0 0;
}

.pagination-list li:last-child {
  padding: 0;
}

.pagination-link {
  background-color: var(--background-gray);
  color: var(--basic-black);
  font-weight: 500;
  line-height: 18px;
  border-radius: 3px;
  box-shadow: inset 0px 3px 0px var(--btn-gray-shadow);
}

.pagination-link.active:not([href]) {
  background: transparent;
  border: 3px solid var(--border-gray-btn);
}

.pagination-link:hover {
  background-color: var(--basic-gray2);
}

.pagination-link:active {
  background-color: var(--basic-gray3);
}

/* Contacts */

.contacts h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 22px 0;
}

.contacts-address {
  line-height: 18px;
  color: var(--products-text);
  margin: 0;
  padding: 0 0 20px 0;
}

.contacts-phone {
  color: var(--products-text);
  margin: 0 0 37px 0;
}

/* mainFooter */
.main-footer {

}

.footer-social {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 68px 0;
}

.social-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-item {
  background-color: var(--social-gray);
  border-radius: 50%;
  margin: 0 9px 0 0;
}

.social-item:last-child {
  margin: 0;
}

.social-item:hover {
  background-color: var(--basic-red-hover);
}

.social-item:active {
  background-color: var(--basic-red-active);
}

.social-button img:active {
  opacity: 0.3;
}

.main-footer-text {
  color: var(--basic-black-light);
}


.main-footer-headler {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 10px 0;
}
